[Unit]
Description=R6RC TanStack App
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/r6rc.com/
Environment=NODE_ENV=production
Environment=PATH=/root/.nvm/versions/node/v22.20.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Uncomment if you want to build on every service start:
# ExecStartPre=/root/.nvm/versions/node/v22.20.0/bin/node /var/www/r6rc.com/node_modules/vite/bin/vite.js build

ExecStart=/root/.nvm/versions/node/v22.20.0/bin/node /var/www/r6rc.com/node_modules/vite/bin/vite.js preview --host 0.0.0.0 --port 4173
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=20
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
